{% extends 'base.html.twig' %}


{% block title %}
    Nouveau lieu | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {#  LeaftLet Librairie for MAP  #}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    {#  GEODECODE Librairie for MAP  #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

{% endblock %}

{% block javascripts %}
    {#  LeaftLet Librairie for MAP  #}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    {#  GEODECODE Librairie for MAP  #}
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <div class="col-12 col-sm-10 col-md-4 col-lg-4 px-2">
                    <h2 class="text-center mt-4">Ajouter un nouveau lieux</h2>
                <p class="text-muted text-center mb-4">(Vous pouvez effecter une recherche de lieu depuis la carte)</p>
                    <div class="col-auto">
                        {{ form_start(formLieu) }}
                        <div class="row">
                            {{ form_label(formLieu.nom, '', {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                            <div class="col-8 col-md-9">
                                {{ form_widget(formLieu.nom, {'attr': {'class': 'form-control'}}) }}<br>
                            </div>
                        </div>
                        <div class="row errorForm">
                            {{ form_errors(formLieu.nom) }}
                        </div>
                        <div class="row">
                            {{ form_label(formLieu.rue, '', {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                            <div class="col-8 col-md-9">
                                {{ form_widget(formLieu.rue, {'attr': {'class': 'form-control'}}) }}<br>
                            </div>
                        </div>
                        <div class="row errorForm">
                            {{ form_errors(formLieu.rue) }}
                        </div>
                        <div class="row">
                            {{ form_label(formLieu.latitude, '', {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                            <div class="col-8 col-md-9">
                                {{ form_widget(formLieu.latitude, {'attr': {'class': 'form-control'}}) }}<br>
                            </div>
                        </div>
                        <div class="row errorForm">
                            {{ form_errors(formLieu.latitude) }}
                        </div>
                        <div class="row">
                            {{ form_label(formLieu.longitude, '', {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                            <div class="col-8 col-md-9">
                                {{ form_widget(formLieu.longitude, {'attr': {'class': 'form-control'}}) }}<br>
                            </div>
                        </div>
                        <div class="row errorForm">
                            {{ form_errors(formLieu.longitude) }}
                        </div>
                        <div class="row">
                            {{ form_label(formLieu.ville, '', {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                            <div class="col-8 col-md-9">
                                {{ form_widget(formLieu.ville, {'attr': {'class': 'form-select'}}) }}<br>
                            </div>
                        </div>
                        <div class="row errorForm">
                            {{ form_errors(formLieu.ville) }}
                        </div>
                        <div class="row">
                            <button class="btn btn-outline-success col-12 col-md-5 my-3 mx-auto">Ajouter</button>
                            <a class="btn btn-outline-danger col-12 col-md-5 my-3 mx-auto" href="{{ path('sortie_creation') }}">Retour</a>
                        </div>
                        {{ form_end(formLieu) }}
                    </div>
            </div>
            <div class="col-12 col-sm-10 col-md-6 col-lg-6 px-2 mt-4 align-self-center">
                <div id="map" style="aspect-ratio: 16/9;height: 100%;"></div>
            </div>
        </div>

    </div>

    <script>
        var map = L.map('map').setView([48.865383562628416, 2.355273115002889],13);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiYmxlaXotZGlnZW52ZXoiLCJhIjoiY2wxb3N6MWQ4MDdqNDNvbXU1MDJ4a3NrZCJ9.2ELwoD_A7OkdJKZGKVevgw'
        }).addTo(map);
        var geocoder = L.Control.geocoder({
            defaultMarkGeocode: false,
        })
            .on('markgeocode', function(e) {
                let lat = e.geocode.properties.lat;
                let long = e.geocode.properties.lon;
                let numRue = e.geocode.properties.address.house_number;
                let rue = e.geocode.properties.address.road;
                let rueText = (numRue==null?'':numRue.toString()) +' '+ rue;

                let latInput = document.getElementById('lieu_latitude');
                let longInput = document.getElementById('lieu_longitude');
                let rueInput = document.getElementById('lieu_rue');

                if(rue !== undefined){
                    rueInput.setAttribute('value', rueText);
                }else{
                    rueInput.setAttribute('placeholder','Veuillez saisir la Rue demander')
                }

                latInput.setAttribute('value', lat);
                longInput.setAttribute('value', long);

                var markerSearch = L.marker([lat,long], {title: rueText.toString(),draggable: true}).addTo(map);
                markerSearch.bindPopup(rueText.toString()).openPopup();
                map.fitBounds(e.geocode.bbox);
                console.log(e.geocode)
            })
            .addTo(map);
    </script>
{% endblock %}


