{% extends 'base.html.twig' %}

{% block title %}
{{ participant.prenom }} {{ participant.nom }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center my-4">{{ participant.userIdentifier }}</h2>
        <div class="col-10 mx-auto d-flex flex-column flex-md-row">
            <div class="col-12 col-md-4 text-center text-md-start">
                <img src="{{ asset(cheminImg) }}" class="img-thumbnail img-profil mx-auto">
            </div>
            <div class="col-12 col-md-6 mx-auto ps-4 ps-md-0 my-3 my-md-0">
                <div class="row">
                    <label class="col-5 col-md-3">Prénom : </label><p class="col-6">{{ participant.prenom }}</p>
                </div>
                <div class="row">
                    <label class="col-5 col-md-3">Nom : </label><p class="col-6">{{ participant.nom }}</p>
                </div>
                <div class="row">
                    <label class="col-5 col-md-3">Téléphone : </label><p class="col-6">{{ participant.telephone }}</p>
                </div>
                <div class="row">
                    <label class="col-5 col-md-3">Email : </label><p class="col-6">{{ participant.mail }}</p>
                </div>
                <div class="row">
                    <label class="col-5 col-md-3">Campus : </label><p class="col-6">{{ participant.campus.nom }}</p>
                </div>
                <div class="row">
                    <a href="{{ path('main_home') }}" class="btn btn-outline-primary col-4 ms-3 my-4">Retour</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

