{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-8 col-md-10">
            <h3 class="text-center mb-3">Liste des utilisateurs</h3>
            <!-- Champs de recherche pour la requete AJAX -->
            <div class="p-3 mb-3">
                <div class="col form-floating">
                    <input class="form-control me-2" id="champsRecherche" type="search" aria-label="Search" onkeyup="recherche()">
                    <label for="inputSaisi">Recherche</label>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-10 col-md-4 mt-1 d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-sm btn-outline-success" onclick="estActif(true)">Activer le(s) utilisateur(s)</button>
                </div>
                <div class="col-10 col-md-4 mt-1 d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="estActif(false)">Désactiver le(s) utilisateur(s)</button>
                </div>
                <div class="col-10 col-md-4 mt-1 d-grid gap-2 col-6 mx-auto">
                    <!-- Btn avec modal-->
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Supprimer le(s) utilisateur(s)
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Attention</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Voulez vous vraiment supprimer le(s) utilisateur(s) sélectionné(s) ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary" onclick="supprimer()">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tableau des utilisateurs -->
            <div class="border rounded mt-4">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Actif</th>
                    </tr>
                    </thead>
                    <tbody id="listeUtilisateurs">
                    {% for participant in participants %}
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ participant.id }}" name="checkParticipant">
                                </div>
                            </td>
                            <td><a href="{{ path('participant_detail', {'id' : participant.id}) }}">{{ participant.pseudo }}
                            </td>
                            <td>{{ participant.prenom }} {{ participant.nom }}</td>
                            <td>
                                {% if participant.actif %}
                                    <p style="color: green;">oui</p>
                                {% else %}
                                    <p style="color: darkred;">non</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td scope="row">Pas de utilisateur !</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    //Récupére la sélection des participants faite par l'utilisateur
    function selectionUtilisateur() {
        let listeUtilisateurs = document.getElementsByName("checkParticipant");
        let listeUlisateursSelectionnes = [];
        listeUtilisateurs.forEach((utilisateur) => {
            if (utilisateur.checked) {
                listeUlisateursSelectionnes.push(utilisateur.value)
            }
        })
        return listeUlisateursSelectionnes;
    }

    //Désactive ou active les particpants en BDD
    //le parametre 'etat' doit être un boolean:
    //true -> activer | false -> désactiver
    function estActif(etat) {
        let utilisateursSelectionnes = this.selectionUtilisateur();
        axios.get("{{ path('participant_desactiver') }}", {
            params: {"utilisateursSelectionnes": utilisateursSelectionnes, "etat": etat}
        })
            .then(function () {
                location.reload();
        });
    }

    //Supprimer les participants en BDD
    function supprimer() {
        let utilisateursASupprimer = this.selectionUtilisateur();
        axios.get("{{ path('participant_supprimer') }}", {
            params: {"utilisateursASupprimer": utilisateursASupprimer}
        })
            .then(function () {
                location.reload();
        });

    }

    //Retourne les utilisateurs dont la saisi est contenu dans le pseudo ou nom ou prenom
    function recherche() {
        let rechercheSaisi = document.getElementById("champsRecherche");
        let saisi = rechercheSaisi.value;
        axios.get("{{ path('participant_rechercheParNomPrenomPseudo') }}", {
            params: {"saisi": saisi}
        })
            .then(function (response) {
                let listeResultats = document.getElementById("listeUtilisateurs");
                listeResultats.innerHTML = response.data;
            });
    }
</script>
{% endblock %}

{% block title %}

{% endblock %}

