{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <!-- Infos: date et participant co -->
    <div class="row justify-content-end pt-2">
        <div class="col-auto">
            <p style="font-size: 0.9em;">Date du jour: {{ 'now'|date('d/m/Y') }}</p>
        </div>
        <div class="col-auto">
            <p style="font-size: 0.9em;">Participant: {{ app.user.prenom }} {{ app.user.nom|first|upper }}.</p>
        </div>
    </div>
    <!-- Formulaire de recherche -->
    {{ form_start(rechercheSortieForm) }}
    <div class="card card-body">
        <h5 class="card-title">Filtrer les sorties</h5>
        <div class="row">
            <div class="col-sm-6 ms-2">
                <div class="row mb-2">
                    <div class="col-sm-5 form-label">{{ form_label(rechercheSortieForm.site) }}</div>
                    <div class="col-sm-7">{{ form_widget(rechercheSortieForm.site, {'attr' : {'class': 'form-select'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-5 form-label">{{ form_label(rechercheSortieForm.nomSortie) }}</div>
                    <div class="col-sm-7">{{ form_widget(rechercheSortieForm.nomSortie, {'attr' : {'class': 'form-control'}}) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-3 form-label">{{ form_label(rechercheSortieForm.dateMin) }}</div>
                            <div class="col-sm-9">{{ form_widget(rechercheSortieForm.dateMin, {'attr' : {'class': 'form-control'}}) }}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-2 form-label">{{ form_label(rechercheSortieForm.dateMax) }}</div>
                            <div class="col-sm-10">{{ form_widget(rechercheSortieForm.dateMax, {'attr' : {'class': 'form-control'}}) }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 align-self-center ms-2">
                <div class="form-check mb-2">
                    {{ form_widget(rechercheSortieForm.organisateur, {'attr' : {'class': 'form-check-input'}}) }}
                    <div class="form-check-label">{{ form_label(rechercheSortieForm.organisateur) }}</div>
                </div>
                <div class="form-check mb-2" onclick="checkboxesInscrit()">
                    {{ form_widget(rechercheSortieForm.inscrit, {'attr' : {'class': 'form-check-input'}}) }}
                    <div class="form-check-label">{{ form_label(rechercheSortieForm.inscrit) }}</div>
                </div>
                <div class="form-check mb-2" onclick="checkboxesInscrit()">
                    {{ form_widget(rechercheSortieForm.pasInscrit, {'attr' : {'class': 'form-check-input'}}) }}
                    <div class="form-check-label">{{ form_label(rechercheSortieForm.pasInscrit) }}</div>
                </div>
                <div class="form-check mb-2">
                    {{ form_widget(rechercheSortieForm.passees, {'attr' : {'class': 'form-check-input'}}) }}
                    <div class="form-check-label">{{ form_label(rechercheSortieForm.passees) }}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col align-self-center d-grid gap-2">
                        {{ form_widget(rechercheSortieForm.Recherche) }}
                    </div>
                </div>
                <div class="row" style="height: 60%;">
                    <div onclick="reset()" class="col align-self-end d-grid gap-2" >
                        <button class="btn btn-sm btn-outline-secondary">Reset</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{ form_end(rechercheSortieForm) }}
    <!-- Tableau des sorties -->
    <div class="border rounded mt-4">
        <table class="table table-striped caption-top">
            <caption class="ps-3">Nombre de sorties trouvées :  {{ resultats.nbSorties }}</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Cloture</th>
                    <th scope="col">Inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sortie in resultats.sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date("d/m/Y  à H:i") }}</td>
                    <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                    <td class="text-center">{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{% if (app.user in sortie.participants) %}
                            <div class="text-center">X</div>
                        {% else %}
                            {{ null }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('participant_detail', {'id' : sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                    </td>
                    <td>
                        <a href="{# {{ path('sortie_detail',{'id': sortie.id}) }} #}" class="btn btn-link btn-sm">Afficher</a>
                        {% set inscrit = false %}
                        {% for participant in sortie.participants %}
                            {% if participant.id == app.user.id %}
                                {% set inscrit = true %}
                            {% endif %}
                        {% endfor %}
                        {% if inscrit %}
                            <a href="{# {{ path('sortie_detail',{'id': sortie.id}) }} #}" class="btn btn-link btn-sm">Se désister</a>
                        {% else %}
                            <a href="{# {{ path('sortie_detail',{'id': sortie.id}) }} #}" class="btn btn-link btn-sm">S'inscrire</a>
                        {% endif %}
                    </td>

                </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    //changement dynamique on clic
    function checkboxesInscrit() {
        let checkInscrit = document.getElementById("recherche_sortie_inscrit");
        let checkPasInscrit = document.getElementById("recherche_sortie_pasInscrit");
        checkInscrit.checked ? checkPasInscrit.disabled = true : checkPasInscrit.disabled = false;
        checkPasInscrit.checked ? checkInscrit.disabled = true : checkInscrit.disabled = false;
    }
    //restitue l'état des checkboxes au rechargement de la page
    window.addEventListener("load", () => {
        checkboxesInscrit();
    })
    //remette le formulaire de recherche à zéro
    function reset() {
        document.getElementById("recherche_sortie_site").value = "";
        document.getElementById("recherche_sortie_nomSortie").value = "";
        document.getElementById("recherche_sortie_dateMin").value = "";
        document.getElementById("recherche_sortie_dateMax").value = "";
        document.getElementById("recherche_sortie_organisateur").checked = false;
        document.getElementById("recherche_sortie_inscrit").checked = false;
        document.getElementById("recherche_sortie_pasInscrit").checked = false;
        document.getElementById("recherche_sortie_passees").checked = false;
    }
</script>

{% endblock %}

{% block title %}

{% endblock %}

