{% extends 'base.html.twig' %}

{% block body %}
<div class=" col-8 mx-auto">
    <h2 class="text-center my-4">Gérer les villes</h2>

    <div>
        <h3>Filtrer les villes</h3>
        {{ form_start(formRecherche) }}
        <div class="row my-3">
            {{ form_label(formRecherche.nom, '', {'label_attr': {'class': 'col-12 col-md-2 col-form-label'}}) }}
            <div class="col-12 col-md-3 px-2">
                {{ form_widget(formRecherche.nom, {'attr' : {'class':'form-control'}}) }}
            </div>
            <button class="btn btn-outline-primary col-12 col-md-2 my-3 my-md-0">Rechercher</button>
            <a href="{{ path('ville_liste') }}" class="btn btn-outline-danger col-12 col-md-1 mx-md-3">X</a>
        </div>
        {{ form_end(formRecherche) }}
    </div>

    <div class="cadre-table-scroll col-12 mx-auto">
        <table class="table table-striped table-bordered caption-top border table-scroll">
            <thead class="bg-dark text-white">
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code postal</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <button class="btn btn-link btn-sm" onclick="lienModifier('{{ ville.nom }}', '{{ ville.codePostal }}', '{{ ville.id }}')">Modifier</button>
                        <a href="{{ path('ville_supprimer', {'id': ville.id}) }}" class="btn btn-link btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="bg-muted text-white bg-white text-white border">
            <tr>
                {{ form_start(formVille, {'attr' : {'id': 'FormVille'}}) }}
                <td>{{ form_widget(formVille.nom, {'attr' : {'placeholder': 'Nouvelle ville', 'class':'form-control'}}) }}</td>
                <td>{{ form_widget(formVille.codePostal, {'attr' : {'placeholder': 'Code Postal', 'class':'form-control'}}) }}</td>
                <td class="" id="btn-add">{{ form_widget(formVille.Ajouter) }}</td>
                <td class="d-none" id="btn-modif">{{ form_widget(formVille.Modifier) }}</td>
                {{ form_row(formVille.id) }}
                {{ form_end(formVille) }}
            </tr>
            </tfoot>
        </table>
    </div>

</div>
    <script>
        //Variable
        let inputVille = document.getElementById('ville_nom');
        let inputCodePostal = document.getElementById('ville_codePostal');
        let inputId = document.getElementById('ville_id');
        let btnAdd = document.getElementById('btn-add')
        let btnModif = document.getElementById('btn-modif')
        let formVille = document.getElementById('ville_Ajouter')
        //Fonction pour "passer en mode modifiée
        function lienModifier(ville, codePostal, id){
            inputVille.setAttribute('value', ville)
            inputCodePostal.setAttribute('value', codePostal)
            inputId.setAttribute('value', id)
            btnAdd.className = "d-none"
            btnModif.className = ""
            formVille.setAttribute('disabled', "true")
        }
    </script>
{% endblock %}

{% block title %}

{% endblock %}

